header
{
    background-color: #F3E9F1;
    margin: 0;
}

header img
{
    height: 200px;
    width: auto;
}

.card
{
    min-height: 380px !important;
}

.img
{
    width: auto !important;
    height: auto !important;
}